version: "3.3"

services:
  mongo:
    image: mongo:4.4
    restart: always
    volumes:
      - mongo-data:/data/db

  backend:
    image: sunidhi12/crud-dd-task-mean-app_backend:latest
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      - DB_HOST=mongo

  frontend:
    image: sunidhi12/crud-dd-task-mean-app_frontend:latest
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
